REDIRECT_URI="REDIRECT_URI" <- "http://localhost:8080/login/callback/" 
CLIENT_ID="CLIENT_ID" <- Obtainable at Spotify developer app
CLIENT_SECRET="CLIENT_SECRET" <- Obtainable at Spotify developer app

DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_DATABASE=final
DB_PORT=5432
