body{
  overflow-x: hidden;
}
.App {
  background-color: #181818;
  height: 100vh;
  width: 100vw;
  display: table;
}

.content {
  display: table-cell;
  width: 80%;
  vertical-align: top;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60%;

  .card {
    margin: 1%;
    width: 20%;
    background-color: #282828;
    color: white;

    &:hover {
      background-color: #2E2E2E;
      cursor: pointer;
    }

    .card-title {
      font-weight: 700;
    }
    .card-text {
      color: gray;
      font-size: 14px;
    }
  }
}

.categoriesTitle {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  margin: 3%;
  margin-left: 7%;

  a {
    align-self: center;
    margin-left: 1%;
  }

  .addIcon {
    color: white;
    height: 40px;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

body {
  margin: 0;
}