a {
  background-color: #1DB954;
  padding: 20px;
  border-radius: 99px;
  text-decoration: none !important;
  color: white !important;
  margin-top: 25%;
  font-weight: 600;
}

h1 {
  color: grey;
}

img[alt="SpotifyLogo"] {
  width: 500px;
  height: auto; 
  margin-top: 10%;
  margin-bottom: 5em;
}